AWS_REGION=ap-southeast-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
EC2_INSTANCE_ID=i-xxxxxxxxxxxxxxxxx
SERVER_NAME=StarRupture Dedicated Server
SERVER_HOST=
SERVER_PORT=7777
SERVER_PASSWORD=
SSM_SERVER_PASSWORD_PARAM=
DASHBOARD_PASSWORD=
CLOUDWATCH_LOG_GROUP=
CLOUDWATCH_LOG_STREAM=
CLOUDWATCH_AGENT_NAMESPACE=CWAgent
BACKUP_S3_BUCKET=
BACKUP_S3_PREFIX=starrupture-saves
WINDOWS_SHUTDOWN_SCRIPT_PATH=C:\starruptureserver\shutdown_now.ps1
WINDOWS_RESTORE_SCRIPT_PATH=C:\starruptureserver\restore_save.ps1
